body{
    background: url('/img/cloud_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title{
    display: flex;  
    justify-content: center;
    padding-top: 40px;
    font-size: 70px;
    font-style: italic;
    font-family: 'MaruBuriSemiBold';
}

.container{
    display: flex;  
    align-items: center;
    /* display 가로 속성을 세로 정렬 바꿔줌*/
    flex-direction: column; 
    background-color: rgba(255, 255, 255, 0.675);
    width: 50%;
    border-radius: 20px;
}

.weather-box{
    border: 3px solid white;
    border-radius: 50px;
    padding: 50px;
    background-color: rgba(178, 179, 230, 0.823) ;
    margin: 20px;
    font-family: 'MaruBuriSemiBold';
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.button-container button {
    margin: 5px;
    border-color: rgb(147, 165, 180);
    width: 50%;
    font-size: 15px;
}

.button-container button:hover{
    background-color: rgb(160, 209, 237);
}

.description{
    font-size: 2.5rem;
}

table{
    text-align: center;
    border: 2px solid #eaebec;
    margin-top: 25px;
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-section {
    flex: 1;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}

.right-section img {
    width: 180px;
    height: 180px;
}


/* 배경 이미지 설정 */
/* 맑음 */
.body01d, .body01n, .body02d, .body02n {
    background: url('/img/햇빛.png');
    background-size: cover;
    height: 100vh;
}

/* 비 */
.body09d, .body09n, .body10d, .body10n {
    background: url('/img/rain.gif');
    background-size: cover;
}

/* 천둥번개 */
.body11d, .body11n {
    background-image: url('/img/storm.gif');
    background-size: cover;
}

/* 눈 */
.body13d, .body13n {
    background-image: url('/img/snow.gif');
    background-size: cover;
}

/* 안개 */
.body50d, .body50n {
    background-image: url('/img/mist_pic.jpg');
    background-size: cover;
}




@font-face {
    font-family: 'MaruBuriSemiBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}